<!DOCTYPE html>
<html>
  <head>
    <title>Slingshot with Collision Detection</title>
    <link rel="stylesheet" href="../static/css/estilingue.css" />
  </head>
  <body
    style="background-image: url('{{ url_for('static', filename='img/bg.svg') }}')"
  >
    <canvas
      id="gameCanvas"
      width="1920"
      height="1080"
      style="border: 2px solid black"
    ></canvas>
    <img
      id="collisionGif"
      src="../static/img/kaboom-boom.gif"
      width="100"
      height="100"
    />
    <script
      type="module"
      src="{{ url_for('static', filename='js/estilingue.js') }}"
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/webhooks-estilingue.js') }}"
    ></script>
  </body>
</html>
