<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="auto">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Portal de Jogos" />
    <title>AVANCE</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/home.css" />
  </head>
  <body class="d-flex flex-column h-100 text-bg-dark">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-auto">
      <div class="container">
        <a class="navbar-brand d-flex" href="#">
          <img
            src="../static/img/logo.png"
            alt="Logo"
            class="logoimg d-inline-block align-text-top me-2"
          />
          <span class="h3 mb-0" style="margin-top: 40px">AVANCE</span>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <!-- Main Content -->

    <main
      class="d-flex flex-column align-items-center justify-content-center flex-grow-1 text-center"
      style="margin-top: 50px"
    >
      <div class="container">
        <h1 class="text-center mb-4">
          Jogos iterativos para avaliação do progresso da reabilitação
        </h1>
        <h2 class="text-center mb-4">
          Serão realizados movimentos de abdução de ombro e flexão e extensão de
          cotovelo
        </h2>
        <div class="row justify-content-center">
          <!-- Jogo do Regador -->
          <div class="col-md-5">
            <div class="card bg-dark text-light h-100">
              <a href="{{url_for('testgame')}}">
                <img
                  src="{{ url_for('static', filename='img/jogoregador.png') }}"
                  alt="Jogo do Regador"
                  class="card-img-top"
                  title="Jogo do Regador"
                />
              </a>
              <div class="card-body">
                <h5 class="card-title">Jogo do Regador</h5>
                <p class="card-text">Clique abaixo para jogar</p>
                <a href="{{url_for('testgame')}}" class="btn btn-outline-light"
                  >Jogar</a
                >
              </div>
            </div>
          </div>

          <!-- Jogo do Estilingue -->
          <div class="col-md-5">
            <div class="card bg-dark text-light h-100">
              <a href="{{url_for('estilingue')}}">
                <img
                  src="{{ url_for('static', filename='img/jogoestilingue2.png') }}"
                  alt="Jogo do Estilingue"
                  class="card-img-top"
                  title="Jogo do Estilingue"
                />
              </a>
              <div class="card-body">
                <h5 class="card-title">Jogo do Estilingue</h5>
                <p class="card-text">Clique abaixo para jogar</p>
                <a
                  href="{{url_for('estilingue')}}"
                  class="btn btn-outline-light"
                  >Jogar</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="mt-auto bg-secondary text-light py-3">
      <div class="container text-end">
        <p class="mb-0">© 2024 AVANCE.</p>
      </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
